<header>
    <a routerLink="/" class="logo">
        <img src="kiubit.svg" alt="Kiubit Logo" class="logo-icon ">
        <span class="logo-text font-black">Kiubit</span>
    </a>
    <nav>
        <ul>
            <li><a routerLink="/" role="menuitem" tabindex="0">Home</a></li>
            <li><a routerLink="/about" role="menuitem" tabindex="0">About</a></li>
            <li><a routerLink="/contact" role="menuitem" tabindex="0">Contact</a></li>
        </ul>
    </nav>
    <div class="botones">
        <button class="login">Iniciar Sesión</button>
        <button class="signup">Registrate</button>
    </div>
</header>
<main>
    <section class="hero">
        <div class="container px-6">
            <h1 class="text-7xl">Domina las matemáticas con Kiubit</h1>
            <p class="text-lg">Aprende a tu ritmo con nuestros cursos en linea, diseñados para todos los niveles.</p>      
            <button class="button">Explorar Cursos</button>
        </div>
    </section>
    <section class="about">
        <div class="px-6">
            <h1 class="text-7xl">Domina las matemáticas con Kiubit</h1>
            <p class="text-lg">Aprende a tu ritmo con nuestros cursos en linea, diseñados para todos los niveles.</p>      
            <button class="button">Explorar Cursos</button>
        </div>
    </section>
</main>
<footer>
    <p>&copy; 2024 Kiubit. All rights reserved.</p>
</footer>